:root {
    /* windows logo colors */
    --windows-blue: #0078D7;
    --windows-green: #00BC0C;
    --windows-yellow: #FFB900;
    --windows-red: #FF0000;
}

/* reset */

* {
    box-sizing: border-box;
}

/* global page styles */

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* smooth font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

/* objects */

.list-reset {
    list-style: none;
    padding: 0;
}

/* components */

.nav__list {}

.nav__item {}

.nav__link {
    /* give the links a different background color */

    .nav__item--one & {}

    .nav__item--two & {}

    .nav__item--three & {}

    .nav__item--four & {}
}

.page {}

/* give the pages a different background color */

.page--one {}

.page--two {}

.page--three {}

.page--four {}

.page__back {}

.page__body,
.page__back {}