:root {
    --color-purple: oklch(0.44 0.23 311.11);
    --color-pink: oklch(0.66 0.26 16.42);
    --color-yellow: oklch(0.84 0.2 86.18);
    --color-ocean: oklch(0.7 0.25 151.84);
}

/* reset */
* {
    box-sizing: border-box;
}

/* global page styles */
html {
    font-size: 100%;
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    display: grid;
    place-items: center; /* Center everything inside body */
    height: 100vh;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(2, 20vw); /* 2 columns with 20vw width */
    grid-template-rows: repeat(2, 20vh); /* 2 rows with 20vh height */
    gap: 10px; /* Space between items */
}

.nav__item {
    width: 100%;
    height: 100%;
}

.nav__link {
    display: grid;
    place-items: center; /* Center the text */
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
}

.nav__link--one { background-color: var(--color-purple); }
.nav__link--two { background-color: var(--color-pink); }
.nav__link--three { background-color: var(--color-yellow); }
.nav__link--four { background-color: var(--color-ocean); }

label {
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 1;
}


.page{
    height: 100%;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    background-color: gray;
}

.page__body{
    grid-column: 2;
    grid-row: 2;
}

.page__back{
    grid-column: 3;
    grid-row: 1;
}